@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Serviço de Mensageria</h1>
    <p>Link do projeto: <a href="https://github.com/fabiolazari/FLC.Solution.git">usando filas SQS AWS Amazon para enviar e receber mensagens...</a>.</p>
</div>
