@{
    ViewData["Title"] = "Send...";

}
<h1>@ViewData["Title"]</h1>

<h2>@ViewData["Mensagem"]</h2>

<h2>@ViewBag.mensagem</h2>

<p>Enviando Mensagens</p>


<div class="form-group">
    <a class="btn btn-info" asp-controller="Messenger" asp-action="Index">Voltar</a>
</div>