@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Serviço de Mensageria</h1>
    <p>Link do projeto: <a href="https://github.com/fabiolazari/MinhaAppMvcCompleta_Estudo.git">using AWS Amazon SQS to sendo e receive messages...</a>.</p>
</div>
